.App {
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

.main {
  width: 500px;
  height: 400px;
  margin-top: 100px;
  margin: 100px auto;
}

.label {
  margin-left: 24px;
  margin-bottom: 24px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 1.25em;
}

.input {
  border: 5px solid #000;
}

.label-result {
  margin-left: 120px;
  font-size: 1.6em;
  font-weight: bold;
}

.btn1 {
  margin-left: 120px;
}


.btn2 {
  margin-left: 80px;
}

button {
  margin-top: 20px;
  width: 120px;
  height: 56px;
  border: 5px solid #000;
  background-color: whitesmoke;
  font-weight: bold;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
